body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(url(../christabel/a1.jpg));


}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.explore-section {
    width: 90%;
    margin: 2rem auto;
}

.explore-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.explore-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 2rem;
}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.explore-card {
    background-color: #f0fdf4;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.explore-card:hover {
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.1);
}

.explore-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.explore-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.explore-card p {
    font-size: 1rem;
    line-height: 1.6;
}
